* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --clr-showcase: hsl(201, 47%, 92%);
    --clr-items: hsl(0, 0%, 95%);
    ---clr-footer: hsl(0, 0%, 9%);
}

.loader {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Navigation Bar Design */
.navigation {
    display: flex;
    justify-content: space-between;
}

.nav-a,
.nav-b {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}
.list-navigation {
    display: flex;
    justify-content: space-between;
    width: 290px;
    align-items: center;
}
.nav-search {
    width: 100px;
    border-radius: 10%;
    padding: 5px;
}

.list-navigation:hover {
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    width: 100px;
    /* border: 1px solid black; */
}

/* Section1 Design */
.section1 {
    display: flex;
    margin-left: 60px;
    /* border: 1px solid black; */
}

.left-section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 90px;
    max-width: 50%;
    background-color: var(--clr-showcase);
    /* border: 1px solid black; */
}

.showcase-title {
    font-weight: 400;
}

.showcase-header {
    font-size: 6vw;
    font-weight: 300;
    width: 70%;
    margin: 30px 0;
    text-align: left;
    /* border: 1px solid black; */
}

.showcase-button {
    width: 30%;
    border: 2px solid black;
    padding: 10px;
    font-weight: 500;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.showcase-button:hover {
    cursor: pointer;
    background-color: var(--clr-showcase);
    color: black;
    font-weight: 600;
}

.showcase-image {
    width: 500px;
    margin-left: 70px;
    /* border: 1px solid black; */
}

/* Section2 design */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    margin: 50px auto;
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.section2-heading {
    font-size: 60px;
    font-weight: 300;
    /* padding: 40px; */
    /* border: 1px solid black; */
}

.section2-body {
    width: 39%;
    line-height: 30px;
    font-weight: 300;
    margin: 0px auto;
    /* border: 1px solid black; */
}

.section2-button {
    width: 10%;
    height: 10%;
    background-color: black;
    color: white;
    margin: 10px auto;
}

.section2-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Section3 Design */
.section3 {
    margin: 50px;
    padding: 40px;
    background-color: var(--clr-showcase);
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
}

.section-heading {
    font-size: 4vw;
    margin-top: 30px;
    margin-bottom: 80px;
    font-weight: 300;
}

.section3-items {
    display: flex;
    /* flex-direction: column; */
    /* border: 1px solid black; */
    /* margin: auto; */
    /* width: 20%; */
    justify-content: space-between;
}

.item,
.section3-info,
.section4-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 23%;
    border-radius: 10px;
    margin: 10px;
    /* flex-wrap: wrap; */
    padding: 50px;
    /* border: 1px solid black; */
}

.section3-info,
.section4-info {
    margin-top: 30px;
    padding: 20px;
    width: 200px;
    background-color: var(--clr-showcase);
}

.section3-info,
.section4-info {
    cursor: pointer;
}

.product {
    width: 200px;
}

.section3-info-price {
    margin: 10px;
    font-size: 20px;
}

/* Section4 Design */
/* section-heading is similar to section3-heading design */
.section4 {
    margin: 50px;
    padding: 40px;
    border-radius: 30px;
    /* border: 1px solid black; */
    background-color: var(--clr-showcase);
}

.section4-items {
    display: flex;
    /* background-color: var(--clr-items); */
    /* flex-direction: column; */
    /* padding: 50px; */
    /* border: 1px solid black; */
    /* margin: auto; */
    /* width: 20%; */
    justify-content: space-between;
}
.section4-general-info {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 0px auto;
    padding: 40px;
    /* padding: 10px; */
    /* flex-direction: row; */
}

.section4-info-title {
    /* border: 1px solid black; */
    margin-top: 20px;
}

.section4-info-price {
    margin: 10px;
    font-size: 20px;
}

/* Section5 Design */
.section5 {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    margin: 50px;
    padding: 60px;
    background-color: hsl(5, 55%, 96%);
    /* flex-wrap: wrap; */
}

.section5-product {
    border-radius: 50%;
}

.post {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    padding: 50px;
    margin-left: 100px;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.post-title {
    /* border: 1px solid black; */
    font-weight: 400;
    font-size: 21px;
}

.post-description {
    margin: 30px 0;
    /* border: 1px solid black; */
    max-width: 500px;
    font-weight: 400;
    line-height: 25px;
}

.author {
    font-size: 30px;
    width: fit-content;
    /* border: 1px solid black; */
}

.studio {
    width: fit-content;
    margin-left: 30px;
    /* border: 1px solid black; */
    font-size: 10px;
}

/* Footer Design */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(---clr-footer);
    color: white;
    margin: 0 50px;
    padding: 100px;
    /* height: 200px; */
}

.footer-column {
    display: flex;
    flex-direction: column;
    height: 50px;
    cursor: pointer;
    justify-content: space-around;
    /* border: 1px solid white; */
}

.instagram,
.linkedin,
.twitter {
    width: 20px;
    border-radius: 50%;
    /* padding: 1px; */
    margin: 5px;
}

.list-footer {
    padding: 10px;
    text-align: left;
}

.email-input {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 990px) {
    .list-navigation {
        padding: unset;
    }

    .nav-a,
    .nav-b {
        justify-content: space-between;
        width: 32%;
        padding: unset;
    }

    .section2-body {
        width: 75%;
    }
    .section2-button {
        width: 100px;
    }
    .showcase-image {
        margin-left: unset;
        margin-top: 50px;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .section3 {
        margin: unset;
    }

    .left-section1 {
        max-width: unset;
    }

    .section3-items {
        flex-direction: column;
        align-items: center;
    }

    .section4-items {
        flex-direction: column;
    }

    .section4-info {
        width: 300px;
    }

    .post-comment {
        display: flex;
        flex-direction: column;
    }

    .studio {
        margin: 10px;
        /* text-align: left; */
    }

    .footer {
        margin: unset;
    }
    .item {
        width: 730px;
    }
}

@media (max-width: 750px) {
    .section-heading {
        font-size: 7vw;
    }
    .showcase-button{
        width: 100px;
    }
    .navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .list-navigation {
        justify-content: space-between;
    }

    .left-section1 {
        width: 100%;
    }

    .section2-button {
        width: 100px;
    }
    .section4 {
        margin: 50px 0;
    }
    .section5 {
        margin: unset;
        padding: 50px 0;
    }
    .post {
        margin-left: unset;
    }
    .showcase-image {
        width: 400px;
    }
    .item {
        width: 330px;
    }
    .footer {
        flex-direction: column;
        justify-content: space-between;
        height: 600px;
        align-items: center;
        /* text-align: center; */
    }
    .list-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section5-product {
        width: 250px;
        padding-left: 5px;
    }
    .nav-a {
        width: 300px;
        margin-top: 30px;
    }
    .nav-b {
        width: 300px;
        margin-bottom: 30px;
    }
}
